<div class="container" fxLayout="row" fxLayoutAlign="center none">

  <div fxFlex="95%">
    <div class="container" fxLayout="column" fxLayoutAlign="center center">

      <h2>Stage 1!</h2>
     
    </div>

    <div class="container" fxLayout="column" fxLayoutAlign="center none">

      <mat-progress-bar mode="determinate" value=40></mat-progress-bar>
     
    </div>
    
    <div class="container" fxLayout="row" fxLayoutAlign="center none">
      <mat-card>
        <mat-card-content>
          <h2>Question 1</h2>
          
          <form >
            <p>Some other info needed </p>
          
            <div fxLayout="row">
          
              <div>
          
                <app-text [options]="textoptions"></app-text>
                <button mat-raised-button color="primary" [disabled]="form.invalid || disableSubmit" (click)="nextStage()">Save and Next</button>
          
              </div>
          
            </div>
          
          </form>

        </mat-card-content>
      </mat-card>
  
    </div>
  </div>
</div>