<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <mat-vertical-stepper
    [linear]="isLinear"
    [ngStyle]="{ width: '90%', height: '90%' }"
    #stepper
  >
    <mat-step
      [stepControl]="stageGroup[i]"
      *ngFor="let items of stages; index as i"
      [editable]="isEditable"
    >
      <form [formGroup]="stageGroup[i]">
        <ng-template matStepLabel>{{ items.name }}</ng-template>
        <div *ngFor="let qstn of items.questions">
          

          <mat-form-field class="full-width" *ngIf="qstn.type == 'text'">
            <input matInput [placeholder]="qstn.label" [formControlName]="qstn.label">
        
            <mat-error *ngIf="qstn.isError && qstn.type == 'text'">
              {{qstn.errorText}}
            </mat-error>
          </mat-form-field>


          

          <ngx-dropzone (change)="onPhotoSelect($event)" *ngIf="qstn.type == 'photo'" [ngStyle]="{ width: '60%', height: '100%' }" >
            <ngx-dropzone-label>{{qstn.label}}</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onPhotoRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>

          
          <mat-form-field class="columns"  *ngIf="qstn.type == 'file'">
            <mat-label *ngIf="selectedFiles; else newFile">{{selectedFiles.item(0).name}}</mat-label>
            <ng-template #newFile>
                <mat-label>{{qstn.label}}</mat-label>
            </ng-template>
            <input matInput disabled>
            <button mat-icon-button matSuffix (click)="fileInput.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
            <input hidden (change)="selectFile($event)" #fileInput type="file" id="file">
        </mat-form-field> 

         
        </div>

        <div>
          <button mat-button matStepperNext (click)="saveData()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
