<div class="container" fxLayout="row" fxLayoutAlign="center none">

    <div fxFlex="95%">
      <div class="container" fxLayout="column" fxLayoutAlign="center center">
  
        <h2>Stage Editor</h2>
       
      </div>
  
   
      
      <div class="container" fxLayout="row" fxLayoutAlign="center center">
        <mat-card>
          <mat-card-content>
            
            
            <form [formGroup]="form">
             
            
              <div fxLayout="row">
            
                <div fxLayout="column">
                    
                    <mat-form-field appearance="fill">
                        <mat-label>Type</mat-label>
                        <mat-select formControlName="type">
                          <mat-option *ngFor="let type of types" [value]="type">
                            {{type}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                    
                      <mat-form-field >

                        <mat-label>Label</mat-label>
                        <input matInput  formControlName="label" />
                    
                      </mat-form-field>


                      <mat-form-field >

                        <mat-label>Position</mat-label>
                        <input matInput type="number" formControlName="position" />
                    
                      </mat-form-field>

                      <mat-form-field >

                        <mat-label>Stage</mat-label>
                        <input matInput type="number" formControlName="stage"/>
                    
                      </mat-form-field>
                      <mat-form-field >

                        <mat-label>Stage Name</mat-label>
                        <input matInput  formControlName="name"/>
                    
                      </mat-form-field>

             
                    
                  <button mat-raised-button color="primary" (click)="save()">Save and Next</button>
            
                </div>
            
              </div>
            
            </form>
  
          </mat-card-content>
        </mat-card>
    
      </div>
    </div>
  </div>